@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0,0,0,0.01);
}

.form-control{
    border-radius: 3px;
    font-size: 14px;
    height: 45px;
    border-width: 1.4px;
    &:focus{
        background: #fff;
        outline: none;
        box-shadow: 0 0 0;
        border-color: rgba(0,0,0,0.35);
    }
}

.checkboxwrap{
    margin-bottom: 25px;
    .form-check{
        padding: 0;
    }
    input[type=checkbox] + label {
        display: block;
        cursor: pointer;
    }
    input[type=checkbox] {
        display: none;
    }
    
    
    input[type=checkbox] + label:before {
        content: "\2714";
        border: 1.2px solid rgba(0,0,0,0.35);
        border-radius: 0.2em;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding-left: 2px;
        padding-bottom: 0.3em;
        margin-right:10px;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
        font-size: 13px;
    }
    
    input[type=checkbox] + label:active:before {
        transform: scale(0);
    }
    
    input[type=checkbox]:checked + label:before {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
    
    input[type=checkbox]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }
    
    input[type=checkbox]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }
}

.btn {
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    padding: 12px;
    span{
        margin-right: 10px;
        display: inline-block;
    }
    &.fullwidth{
        width: 100%;
        text-align: center;
    }
    &.btn-primary{
        background: #3098e3;
    }
}

// Global toast UI 
.toast{
    position: absolute;
    right: 50px;
    bottom: 50px;
    box-shadow: 0 0.25rem 4rem rgba(0,0,0,.1);
    button{
        &:focus{
            outline: none;
        }
    }
}